[Unit]
Description=Home Panel Service
After=network.target
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Service]
WorkingDirectory=/home/pi/src/homePanel
ExecStart=/usr/local/bin/npm start
Restart=on-failure
User=pi
# Environment=PORT=8000

[Install]
WantedBy=multi-user.target
